#Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    background: $accentColor;
    height: 56px;


    @media #{$desktop_breakpoint} {
        height: 51px;
    }
}