@mixin courseDetail {
    text-align: left;
    color: darken($white, 30%);
    font-size: 14px;
    line-height: 24px;

    mark {
        background: none;
        color: $white;
        font-size: 18px;
        position: relative;
        top: 2px;
    }
}